POPEX_DATA_DIR=data
POPEX_ALLOWED_HOSTS=youtube.com,www.youtube.com,m.youtube.com,music.youtube.com,youtu.be
POPEX_MAX_DURATION_SECONDS=1800
POPEX_MAX_FILESIZE_MB=250
POPEX_MAX_UPLOAD_MB=500
POPEX_AUDIO_QUALITY=192
POPEX_FFMPEG_BINARY=ffmpeg
POPEX_FFPROBE_BINARY=ffprobe
